body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.filter-buttons {
    text-align: center;
    margin: 20px 0;
}

.filter-buttons button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.image-gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    border: 1px solid #cccccc;
    border-color: blue;
}
